.text-size {
  font-size: 14vw; /* Adjust the value as needed */
}

/* Media query for adjusting font size for smaller screens */
@media screen and (max-width: 768px) {
  .text-size {
    font-size: 14vw; /* Adjust the value as needed */
  }
}

@font-face {
  font-family: "Woes";
  src: local("Woes"), url("../../fonts/Woes.ttf") format("opentype");
  font-weight: normal;
}

.text-woes {
  font-family: "Woes";
}

.to-top {
  position: fixed;
  z-index: 9999999;
  bottom: 2%;
  left: 2%;
  transition-duration: 0.4s;

  @media screen and (max-width: 768px) {
    bottom: 2%;
    left: 2%;
  }
}
